@model List<Employee>
  @{
    ViewData["Title"] = "Employee Details";
}

<h1>Employee Detail</h1>
<hr>


<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Employee Name</th>
      <th scope="col">Gender</th>
      <th scope="col">JoinDate</th>
      <th scope="col">Designation</th>
      <th scope="col">Department</th>
    </tr>
  </thead>
  <tbody>
 @foreach (var emp in Model)
 {
  <tr>
    <td>@emp.FullName</td>
    <td>@emp.Sex</td>
    <td>@emp.JoinDate.ToString("MMMM dd, yyyy")</td>
    <td>@emp.Designation</td>
    <td>@emp.Department</td>
  </tr>
 }
  </tbody>
</table>
    
