
@model List<Employee>
@{
    ViewData["Title"] = "Employee";
}
<table class="table">
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <a asp-area="" asp-controller="Employee" asp-action="Add">
                    
                </a>

            </a>
        </div>
    </nav>
    <thead>
        <tr>
        
            <th>Name</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Dob</th>
            <th>JoinDate</th>
            <th>Department</th>
            <th>Designation</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
             
                <td>@employee.Name</td>
                <td>@employee.Address</td>
                <td>@employee.Gender</td>
                <td>@employee.Dob?.ToString("MMMM dd, yyyy")</td>
                <td>@employee.JoinDate.ToString("MMMM dd, yyyy")</td>
                <td>@employee.Department</td>
                <td>@employee.Designation</td>
                
                <td>
                    <a href="/employee/edit/@employee.Id">
                        <i class="bi bi-pencil-square"></i></a>
                    <a href="/employee/delete/@employee.Id">
                        <i class="bi bi-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
